<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
		<!-- Configuração da conexão com o banco MySQL e dialeto -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/academia</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">update</property> 

		<!-- Configurações de debug -->

		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="generate_statistics">false</property>
		<property name="use_sql_comments">false</property>
			
		<!-- Mapeando classes -->	
		<mapping class="model.Cliente"/>
		<mapping class="model.Instrutor"/>
		<mapping class="model.Administrador"/>
		<mapping class="model.Endereco"/>		
		<mapping class="model.MatriculaAluno"/>
		<mapping class="model.Pagamento"/>
		<mapping class="model.Avaliacao"/>
		<mapping class="model.Treino"/>
		<mapping class="model.Exercicios"/>
			
	</session-factory>
</hibernate-configuration>
